<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Cadastrar Conta Bancária</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="bootstrap.min.css">
	<link rel="stylesheet" href="font-awesome.min.css">
	<link rel="stylesheet" href="prototipo.css">
    <script src="https://unpkg.com/axios/dist/axios.min.js" ></script>
</head>

	<nav class="navbar navbar-default" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				
			</div>

			<div class="collapse navbar-collapse navbar-ex1-collapse">
				<ul class="nav navbar-nav">
					<li><a href="cliente.html">Clientes</a></li>
					<li class="active"><a href="contasbancarias.html">Contas Bancárias</a></li>
					
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="conta.html"><i class="fa fa-sign-out"></i> Sair</a></li>
				</ul>
			</div>
		</div>
	</nav>


        <div class="container">        
           
            <div class="dados">
                Clique no botão abaixo para obter informações:
                <br><br>
            </div>
            <button class="button">Dados</button>
            
        </div>
        
        
    
    </html>
    <script src="cliente.js" ></script>
</body>    